<div class="container" id="edit-page">
  <h1 class="h1-edit">Edit your <span class="italic-accent"><%= (@list.name).downcase %></span> list</h1>
  <%= link_to 'Add a profile', list_new_select_path(@list), class: "button-red-edit" %>

  <ul id="profile-list">
    <% @list.insta_profiles.each do |insta| %>
      <li>
        <div class="profile-card-edit">
          <div>
            <%= cl_image_tag(insta.photo.key, class: "me-5 img-profile-edit") %>
            <%= insta.username %>
          </div>
          <div>
            <%= link_to insta_profile_path(insta), data: {turbo_method: :delete, turbo_confirm: 'U sure buddy?'}, class: 'link-delete' do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Back to list', list_path(@list), class: "btn btn-outline-dark rounded-3" %>
  <%# Put a form here or something, idk %>
</div>
