<div class="main-padding">
  <h1 class="h1-edit mb-3">Edit your <span class="italic-accent"><%= (@list.name).downcase %></span> list</h1>
  <%= link_to 'Add a profile', list_new_select_path(@list), class: "unscroll-btn unscroll-btn-primary mb-2" %>
  <%= link_to "Refresh my list", refresh_list_path(@list), class: "unscroll-btn unscroll-btn-ghost mb-5"%>

  <ul id="profile-list">
    <% @list.profiles.each do |profile| %>
      <li>
        <div class="profile-card-edit">
          <div>
            <%= cl_image_tag(profile.photo.key, class: "me-2 img-profile-edit") %>
            <%= profile.username %>
          </div>
          <div>
            <%= link_to profile_path(profile), data: {turbo_method: :delete, turbo_confirm: 'U sure buddy?'}, class: 'link-delete' do %>
              <i class="fa-solid fa-trash"></i>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
