    <div class="pe-3 ps-3 edit-section">
      <h1 class="text-list"><%= @list.name %> list</h1>
      <%= link_to edit_list_path(@list), class: 'link' do %>
        <i class="fa-regular fa-pen-to-square"></i> Edit
      <% end %>
    </div>
<div class="pt-4 container">


  <div class="post-card">

    <% posts_left_to_see = @list.all_posts.count %>
    <% index = 1 %>
    <% @list.all_posts.each do |post| %>
      <% index += 1 %>
      <div id="<%=index - 1%>">
        <div class="d-flex justify-content-between mb-2">
            <div class="d-flex align-items-left align-items-center">
                <%= image_tag("#{post.insta_profile.profile_picture_url}", class: "me-2 img-profile") %>
                <p class="remove-margin-bottom"><%= post.insta_profile.username  %></p>
            </div>
            <div>
              <%= link_to "Save", lists_path, class: "button-dark d-flex align-items-center" %>
            </div>
        </div>
        <%= image_tag(post.media_url, class:"mb-2 img-post") %>
        <p><%= post.caption %></p>

        <% posts_left_to_see -= 1 %>
        <% if posts_left_to_see == 0 %>
          <div class="center-margin-300">
            <h2 class="mb-5">You saw all the post of <%= @list.name %></h2>
            <%= link_to "See all the lists", lists_path, class: "mb-2 button-dark" %>
            <%= link_to "Stop scrolling", lists_path, class: "button-transparent"%>
          </div>
          <% else %>
            <div class="post-counter">
              <%= link_to "Jump to next post", "##{index}", data: { controller: "scroll-to"}, class: 'button-transparent' %>
            </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
