<%= render "shared/logo-top" %>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-sm-4 col-sm-offset-4">

      <div class="unscroll-form">
          <h1>Sign up</h1>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :username,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "username", class: "unscroll-form-input" }%>
                <%= f.input :email,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "email", class: "unscroll-form-input" }%>
                <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", class: "unscroll-form-input" } %>
                <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password", class: "unscroll-form-input" } %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up",
                             class: "unscroll-btn unscroll-btn-primary shadowed mb-3" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>



        </div>
    </div>
  </div>
</div>
