<div class="single-post-wrapper d-none" data-posts-target="post">

  <div class="post-card">
    <div class="card-top">
      <div class="user-info">
        <%= cl_image_tag(post.profile.photo.key, class: "avatar") %>

          <h3><%= post.profile.username %></h3>

      </div>
      <div class="user-actions">
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-regular fa-bookmark"></i>
      </div>
    </div>
    <% if post.video.attached? %>
        <%= cl_video_tag(post.video.key, class: "media-post-show", preload: "none", controls: true) %>
      <% elsif post.photo.attached? %>
        <%= cl_image_tag(post.photo.key, class:"media-post-show") %>
      <% end %>

    <p><%= post.caption.slice(0,200) %></p>

  </div>
</div>
