<div class="single-post-wrapper small-padding" data-posts-target="post" data-action="touchstart->posts#swipe">

  <div class="post-card">

    <%# CARD TOP WITH INFO %>

    <div class="card-top">

      <div class="user-info">
          <%= cl_image_tag(post.profile.photo.key, class: "avatar shadowed") %>
          <p><%= post.profile.username %></p>
      </div>

      <div class="user-actions">

        <% if post.source == "instagram" %>
          <i class="fa-brands fa-instagram"></i>
        <% else %>
          <i class="fa-brands fa-twitter"></i>
        <% end %>

        <% if post.favourite %>
          <i class="fa-solid fa-bookmark"></i>
        <% else %>
          <i class="fa-regular fa-bookmark"></i>
        <% end %>
      </div>

    </div>

    <%# MEDIA %>

    <% if post.video.attached? %>

        <%= cl_video_tag(post.video.key, class: "shadowed mb-5", preload: "none", controls: true) %>
        <%= render "shared/post-caption", post: post %>

    <% elsif post.photo.attached? %>

        <%= cl_image_tag(post.photo.key, class:"shadowed mb-5") %>
        <%= render "shared/post-caption", post: post %>

    <% else %>

        <p class="hyphens"><%= post.caption %></p>

    <% end %>

    <%# CAPTION %>



  </div>
</div>
