<div class="single-post-wrapper small-padding" data-posts-target="post" data-action="touchstart->posts#swipe">

  <div class="post-card">

    <%# CARD TOP WITH INFO %>

    <div class="card-top">

      <div class="user-info">
          <%= cl_image_tag(post.profile.photo.key, class: "avatar shadowed") %>
          <p><%= post.profile.username %></p>
      </div>

      <div class="user-actions" data-controller="save">

        <% if post.source == "instagram" %>
          <i class="fa-brands fa-instagram"></i>
        <% else %>
          <i class="fa-brands fa-twitter"></i>
        <% end %>

        <% if post.favourite %>
          <%= render "shared/saved", post: post %>
        <% else %>
          <%= render "shared/save", post: post %>
        <% end %>
      </div>

    </div>
      <%# If it's a photo, display it normally %>
      <% if post.media_type == 'photo' %>
        <%= cl_image_tag(post.photos[0].key, class:"post-card") %>

      <%# If it's a video, display it normally %>
      <% elsif post.media_type == 'video' %>
        <%= cl_video_tag(post.videos[0].key, class: "post-card", preload: "none", controls: true) %>

      <%# If it's a carousel, do some weird stuff %>
      <% elsif post.media_type == 'carousel' %>

        <%= render "shared/carousel-images", post: post %>


       <% else %>
      <% end %>

      <%= render "shared/post-caption", post: post %>
    <%# CAPTION %>



  </div>
</div>
