<div class="single-post-wrapper d-none" data-posts-target="post">

  <div class="post-card">

    <%# CARD TOP WITH INFO %>

    <div class="card-top">

      <div class="user-info">
          <%= cl_image_tag(post.profile.photo.key, class: "avatar shadowed") %>
          <p><%= post.profile.username %></p>
      </div>

      <div class="user-actions">

        <% if post.source == "instagram" %>
          <i class="fa-brands fa-instagram"></i>
        <% else %>
          <i class="fa-brands fa-twitter"></i>
        <% end %>

        <i class="fa-regular fa-bookmark"></i>
      </div>

    </div>

    <%# MEDIA %>

    <% if post.video.attached? %>

        <%= cl_video_tag(post.video.key, class: "shadowed mb-5", preload: "none", controls: true) %>

    <% elsif post.photo.attached? %>

        <%= cl_image_tag(post.photo.key, class:"shadowed mb-5") %>

    <% end %>

    <%# CAPTION %>

    <p>
      <% if post.caption.size > 100 %>

          <%= post.caption.slice(0,100) %> <span class="read-more" data-action="click->posts#readMore">... read more</span>

          <%= render "shared/full_caption_overlay", post: post %>

      <% else %>

          <%= post.caption %>
          <%= render "shared/full_caption_overlay", post: post %>

      <% end %>
    </p>


  </div>
</div>
