<%= render "shared/back-button" %>
<div class="container main-padding">

  <h1 class="welcome-message"><span class="italic-accent"><%= current_user.username %></span>'s profile.</h1>

  <%= link_to edit_user_registration_path, class: "unscroll-btn unscroll-btn-primary mt-3 mb-3" do %>
    Change username or password
  <% end %>

  <% if cookies[:moon] %>
    <%= link_to 'Light Mode', sun_path, method: :get, class: "unscroll-btn unscroll-btn-primary mt-3 mb-3" %>
  <% else %>
    <%= link_to 'Dark Mode', moon_path, method: :get, class: "unscroll-btn unscroll-btn-primary mt-3 mb-3" %>
  <% end %>
  
  <%= render "shared/log-out" %>

</div>
