<div class="container main-padding">
  <div class="row">
    <div class="col-sm-12 col-sm-4 col-sm-offset-4">

      <div class="unscroll-form">

            <h1>Let's <span class="italic-accent underline">log in</span> to your account.</h1>

            <%= simple_form_for(resource,
                                as: resource_name,
                                url: session_path(resource_name),
                                data: { turbo: :false }) do |f| %>
              <div class="form-inputs">
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            label: "e-mail",
                            input_html: { autocomplete: "email", class: "unscroll-form-input shadowed-subtle"},
                            label_html: { class: "unscroll-form-label"}
                            %>
                <%= f.input :password,
                            required: false,
                            label: "password",
                            input_html: { autocomplete: "current-password", class: "unscroll-form-input shadowed-subtle" },
                            label_html: { class: "unscroll-form-label"}
                            %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit,
                            "Log in",
                            class: "unscroll-btn unscroll-btn-primary shadowed mb-3" %>
              </div>
            <% end %>
            <%= render "devise/shared/links" %>

        </div>
    </div>
  </div>
</div>
